@font-face {
  font-family: "HeyWow-Bold";
  src: url("../../public/fonts/HeyWow-Bold.ttf") format("TrueType");
}

h1 {
  font-family: "HeyWow-Bold";
}

.App {
  text-align: center;
  margin: auto;
}

.App-header {
  margin: auto;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}